.header {
   background-color: antiquewhite;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   padding: 20px;
}

.header_link {
   order: 999;
   margin-left: auto;
   text-align: right;
   font-size: 15px;
}

.header_name{
   font-size: 25px;
   margin: 0 10px;
}

.newPerson{
   text-align: center;
}

.newPerson_field{
   margin: 20px;
}

.newNote{
   text-align: center;
}

.newNote_field{
   margin: 20px;
}

#newNote{
   height: 50px;
   width: 400px;
}

#note{
   background-color: azure;
   border: 5px solid black;
   display: inline-block;
   padding-left: 15px;
   padding-right: 15px;
   margin: 15px;
}


body{
   margin: 0;
   background-color: darkgrey;
}
